/* Nav.module.css */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
  }
  
  .logoContainer {
    display: flex;
  }
  
  .logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .userInfo {
    display: flex;
    align-items: center;
  }
  
  .icon {
    font-size: 20px;
    margin-right: 5px;
  }
  
  .username {
    margin-right: 10px;
  }
  
  